[submodule "etc/shellfire/paths.d"]
	path = etc/shellfire/paths.d
	url = https://github.com/shellfire-dev/paths.d
[submodule "lib/shellfire/core"]
	path = lib/shellfire/core
	url = https://github.com/shellfire-dev/core
[submodule "lib/shellfire/heroku"]
	path = lib/shellfire/heroku
	url = https://github.com/shellfire-dev/heroku.git
[submodule "lib/shellfire/git"]
	path = lib/shellfire/git
	url = https://github.com/shellfire-dev/git.git
[submodule "lib/shellfire/configure"]
	path = lib/shellfire/configure
	url = https://github.com/shellfire-dev/configure.git
